<section class="counter-count">
  <div class="wrapper">
    <div class="option">
      <h2 class="headline-1">
        Your boyfriend is
        <span id="count-result" data-count-result="{{countresult}}"></span>
        camels worth.
      </h2>
      <div class="share-group">
        <button type="button" name="button" class="button button-dark">Post on facebook</button>
        <button type="button" name="button" class="button button-loud">Post on twitter</button>
        <button type="button" name="button" class="button button-ok">Send with WhatsApp</button>
      </div>
      <div class="">
        <a type="button" href="/en/male" class="button button-primary">Calculate again?</a>
      </div>
    </div>
  </div>
</section>
