<section>
  <div class="wrapper">
    <form action="/en/counter" method="POST" class="counter-form">
      <div class="option">
        <div class="left">
          <h3 class="headline-2">Age<span id="age-range-value"></span></h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="range" name="age" min="1" max="100" value="50" step="1" class="age-range range-slider" data-placeholder="age-range-value">
          </div>
        </div>
      </div>
      <div class="option">
        <div class="left">
          <h3 class="headline-2">Height (cm) <span id="height-range-value"></span></h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="range" name="height" min="1" max="250" value="125" step="1" class="height-range range-slider" data-placeholder="height-range-value">
          </div>
        </div>
      </div>
      <div class="option">
        <div class="left">
          <h3 class="headline-2">Hair color</h3>
        </div>
        <div class="right">
          <div class="input-box">
            <select class="hair-color" name="hairColor">
              <option value="blond">Blond</option>
              <option value="braun">Braun</option>
              <option value="black">Black</option>
              <option value="Red">Red</option>
              <option value="Bold">Bold</option>
            </select>
          </div>
        </div>
      </div>
      <div class="option hair-length">
        <div class="left">
          <h3 class="headline-2">Hair length</h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="radio" name="hairLength" value="long" id="hair-length-long" class="hidden" checked>
            <label for="hair-length-long">
                <div class="label-box-content">
                    <p>Long</p>
                </div>
            </label>
            <input type="radio" name="hairLength" value="short" id="hair-length-short" class="hidden">
            <label for="hair-length-short">
                <div class="label-box-content">
                    <p>Short</p>
                </div>
            </label>
            <input type="radio" name="hairLength" value="middle" id="hair-length-middle" class="hidden">
            <label for="hair-length-middle">
                <div class="label-box-content">
                    <p>Middle</p>
                </div>
            </label>
            <input type="radio" name="hairLength" value="bald" id="hair-length-bald" class="hidden">
            <label for="hair-length-bald">
                <div class="label-box-content">
                    <p>Bald</p>
                </div>
            </label>
          </div>
        </div>
      </div>
      <div class="option eye-color">
        <div class="left">
          <h3 class="headline-2">Eye color</h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="radio" name="eyeColor" value="long" id="eye-color-blue" checked>
            <label for="eye-color-blue">
              <span>Blue</span>
            </label>
            <input type="radio" name="eyeColor" value="long" id="eye-color-green">
            <label for="eye-color-green">
              <span>Green</span>
            </label>
            <input type="radio" name="eyeColor" value="long" id="eye-color-braun">
            <label for="eye-color-Braun">
              <span>Braun</span>
            </label>
            <input type="radio" name="eyeColor" value="long" id="eye-color-gray">
            <label for="eye-color-gray">
              <span>Long</span>
            </label>
          </div>
        </div>
      </div>
      <div class="option beard-style">
        <div class="left">
          <h3 class="headline-2">Beard</h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="radio" name="beardStyle" value="none" id="beard-style-none" class="hidden" checked>
            <label for="beard-style-none">
                <div class="label-box-content beard-none">
                </div>
            </label>
            <input type="radio" name="beardStyle" value="small" id="beard-style-small" class="hidden">
            <label for="beard-style-small">
                <div class="label-box-content beard-small">
                </div>
            </label>
            <input type="radio" name="beardStyle" value="middle" id="beard-style-middle" class="hidden">
            <label for="beard-style-middle">
                <div class="label-box-content beard-middle">
                </div>
            </label>
            <input type="radio" name="beardStyle" value="full" id="beard-style-full" class="hidden">
            <label for="beard-style-full">
                <div class="label-box-content beard-full">
                </div>
            </label>
          </div>
        </div>
      </div>
      <div class="option body-shape">
        <div class="left">
          <h3 class="headline-2">Body</h3>
        </div>
        <div class="right">
          <div class="input-box">
            <input type="radio" name="bodyShape" value="sporty" id="body-shape-sporty" class="hidden" checked>
            <label for="body-shape-sporty">
                <div class="label-box-content body-sporty">
                </div>
            </label>
            <input type="radio" name="bodyShape" value="thin" id="body-shape-thin" class="hidden">
            <label for="body-shape-thin">
                <div class="label-box-content body-thin">
                </div>
            </label>
            <input type="radio" name="bodyShape" value="chubby" id="body-shape-chubby" class="hidden">
            <label for="body-shape-chubby">
                <div class="label-box-content body-chubby">
                </div>
            </label>
          </div>
        </div>
      </div>
      <div class="option body-shape">
        <div class="left">
        </div>
        <div class="right">
          <div class="input-box">
            <input type="submit" class="button button-primary" value="CALCULATE">
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
