<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/app.css' />
  </head>
  <body>
    <header>
        <div class="wrapper">
            <div class="languages">
                <a href="/de/male">
                    <img src="/images/flag-de.png" alt="">
                </a>
                <a href="/en/male">
                    <img src="/images/flag-en.png" alt="">
                </a>
                <a href="/es/male">
                    <img src="/images/flag-es.png" alt="">
                </a>
            </div>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="wrapper"></div>
    </footer>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
