<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/app.css' />
  </head>
  <body>
    <header>
        <div class="wrapper max-height">
            <div class="languages">
                <a href="/de/male">
                    <img src="/images/flag-de.png" alt="">
                </a>
                <a href="/en/male">
                    <img src="/images/flag-en.png" alt="">
                </a>
                <a href="/es/male">
                    <img src="/images/flag-es.png" alt="">
                </a>
            </div>
            <div class="headline">
                <div class="logo">
                    <img src="/images/camel-logo.png" alt="">
                </div>
                <div class="headline-title">
                    <h2 class="headline-1">How much camels yours boyfriend worth</h2>
                </div>
            </div>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="wrapper">
            <div class="footer-box">
              <a href="https://www.facebook.com" target="_blank">
                <img src="/images/facebook-share.png" alt="Share on Facebook" class="facebook-share">
              </a>
            </div>
            <div class="footer-box">
              <ul class="footer-horizontal-list">
                <li>
                  <a href="#">
                    Privacy Statement
                  </a>
                </li>
                <li>
                  <a href="#">
                    Imprint
                  </a>
                </li>
                <li>
                  <a href="#">
                    Mr. Nerd
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </footer>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
