@import "../common/palette";
@import "../common/mixins";

$beards: ('beard-full', 'beard-middle', 'beard-none', 'beard-small');
$body-shapes: ('body-chubby', 'body-thin', 'body-sporty');

.counter-form {
  .option {
    .headline-2 {
      position: relative;

      span {
        position: absolute;
        right: 0;
      }

      @media all and (max-width: 750px) {
        margin-bottom: 10px;
      }
    }

    .input-box{
      input[type="range"] {
        height: 11px;
        border-radius: 15px;
        background: $border-color;
        outline: none;
        opacity: 0.7;
        -webkit-appearance: none;
        width: 100%;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 23px;
          height: 23px;
          border-radius: 23px;
          background: $primary-color-1;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 23px;
          height: 23px;
          border-radius: 23px;
          background: $primary-color-1;
          cursor: pointer;
        }

        @media all and (min-width: 750px) {
          margin-top: 8px;
        }
      }

      select {
        background-color: white;
        border: 1px solid $border-color;
        font-size: 15px;
        height: 40px;
        width: 100%;
      }

      @media all and (min-width: 750px) {
        padding-left: 20px;
      }
    }

    &.hair-length {
      .label-box-content {
        @include responsive-boxes(0px, 4, 1px);
        color: $primary-color-1;
        font-weight: bold;
        float: left;
        height: 30px;

        p {
          text-align: center;
          margin-top: 8px;
        }
      }
    }

    &.eye-color {
      input[type="radio"]:not(:first-child){
        margin-left: 15px;
      }
    }

    &.beard-style {
      .label-box-content {
        @include responsive-boxes(0px, 4, 1px);
        float: left;
        height: 55px;

        @each $beard in $beards {
          &.#{$beard} {
            background-image: url('/images/#{$beard}.png');
          }
        }

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.body-shape {
      .label-box-content {
        @include responsive-boxes(0px, 3, 1px);
        float: left;
        height: 85px;

        @each $body in $body-shapes {
          &.#{$body} {
            background-image: url('/images/#{$body}.png');
          }
        }

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .button {
    @extend %button;
  }
}
