@mixin text-basic ($text-big, $text-small) {
  font-size: $text-big;

  @media all and (max-width: 750px) {
    font-size: $text-small;
  }
}

@mixin responsive-boxes ($i-distance, $i-count, $i-border) {
    margin: 0 $i-distance $i-distance 0;
    width: calc((100% - (#{$i-count} - 1) * #{$i-distance}) / #{$i-count} - (#{$i-border} * 2));

    &:nth-of-type(#{$i-count}n + #{$i-count}),
    &:last-of-type {
        margin-right: 0;
    }
}

%button {
    border: 0;
    color: $cammel-white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    min-height: 45px;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;

    &.button-primary {
      background-color: $primary-color-1;
      text-transform: uppercase;
    }

    &.button-loud {
      background-color: $app-loud;
    }

    &.button-ok {
      background-color: $app-green;
    }

    &.button-dark {
      background-color: $app-dark;
    }

    @media all and (max-width: 750px) {
        width: 100%;
    }
}
