@mixin text-basic ($text-big, $text-small) {
  font-size: $text-big;

  @media all and (max-width: 750px) {
    font-size: $text-small;
  }
}

@mixin responsive-boxes ($i-distance, $i-count, $i-border) {
    margin: 0 $i-distance $i-distance 0;
    width: calc((100% - (#{$i-count} - 1) * #{$i-distance}) / #{$i-count} - (#{$i-border} * 2));

    &:nth-of-type(#{$i-count}n + #{$i-count}),
    &:last-of-type {
        margin-right: 0;
    }
}
